.logo {

	vertical-align: baseline;
	
	margin: 30px 0px 0px 30px;
}


	


	li{

	display: inline;
	vertical-align: baseline;
	margin: 0px 0px 0px 18px;
	font-size: 22px;
	font-family: BPGNinoMtavruli;
	
}
	

nav {
margin: 30.8px 0px 0px 180px;
display: inline-block;
vertical-align: baseline;


}






.onlink {

	color: red;

}





.content {


display: inline-block;
width: 1170px;
height: 460px;
margin: 137.6px 98px 0px 98px;
box-sizing: border-box;

 
 

}




.featured{


display: block;

margin: 116.6px 0px 0px 98px ;
}



.responsive{

	
display: inline-block;
box-sizing: content-box;
width: 570px;
height: 225px;
background-color: #F2F2F2;
margin: 30.8px 0px 0px 98px;

}

.image1{

display: inline-block;
box-sizing: border-box;
padding: 12.7px 0px 0px 38.8px;
}

.textresponsive{


box-sizing: border-box;
font-size: 22px;
color: #3D58A6;
margin: 10.1px 0px 0px 27.8px;
}


.textblock1{

  box-sizing: border-box;
  display: inline-flex;
  

  width: 355px;
  height: 143.29px;
  align-items: center;
  margin: 17.4px 0px 0px 61.2px;
  
    vertical-align: text-bottom;
    font-size: 20px;
}













.DEVELOPMENT{

display: inline-block;
box-sizing: content-box;
width: 570px;
height: 225px;
background-color: #F2F2F2;
margin: 30.8px 0px 0px 20px;

}


.image2{
display: inline-block;

padding: 12.7px 0px 0px 38.8px
}


.TEXTDEVELOPMENT{
box-sizing: border-box;

font-size: 22px;
font-family: Roboto-Regular;
color: #3D58A6;
 margin: 10.1px 0px 0px 27.8px;
}


    .textblock2{

	
  
  display: inline-flex;
  box-sizing: border-box;
  

  width: 355px;
  height: 143.29px;
  align-items: center;
  margin: 17.4px 0px 0px 61.2px;
    vertical-align: text-bottom;
    font-size: 20px;


 }
	





.fbicon{
display: inline-block;
	margin-left: 109.5px;
}

.divline{

width: 1px;
display: inline-block;
	height: 28px;
	background-color: #3d58a6;
	margin-left: 35.6px;

}







.days{

display: inline-block;
border: none;
background-color: #3D58A6;
font-size: 37px;
margin: 40.4px 0px 0px 30px;
padding: 8px 8px;
color:  white;
}

.month{
display: block;
border: none;
font-size: 22px;
margin: 2px 0px 0px 30px;

color:  #3D58A6;


}


.headline{
display: block;

font-size: 20px;
margin: 17.5px 0px 0px 30px;


}




.news1{

display: inline-flex;

font-size: 20px;
margin: 17.5px 0px 0px 30px;
vertical-align: text-top;


}


.content1{


font-size: 20px;
vertical-align: -20px;
display: inline-flex;



  box-sizing: border-box;
 

  width: 929.02px;
  height: 360px;
  
  margin: 21px 0px 0px 61.2px;
    
    font-size: 16px;
}


.news2{

display: inline-flex;

font-size: 20px;
margin: 17.5px 0px 0px 30px;
vertical-align: text-top;
}

 








.content2{



font-size: 20px;
vertical-align: -20px;
display: inline-flex;
  box-sizing: border-box;
 

  width: 929.02px;
  height: 360px;
  
  margin: 21px 0px 0px 61.2px;
    
    font-size: 16px;



}


.news3{

display: inline-flex;

font-size: 20px;
margin: 17.5px 0px 0px 30px;
vertical-align: text-top;
}


.content3{


font-size: 20px;

vertical-align: -20px;
display: inline-flex;
  box-sizing: border-box;
  

  width: 929.02px;
  height: 360px;
  
  margin: 21px 0px 0px 61.2px;
    
    font-size: 16px;
}





.fbicon1{
display: inline-block;

	margin: 68.3px 0px 38.7px 109.5px;
}

.fbicon2{
display: inline-block;

	margin: 68.3px 0px 26.5px 33.7px;
}


.fbicon3{
display: inline-block;

	margin: 98.2px 0px 28.3px 47.7px;
}

.yicon{

display: inline-block;
margin-left: 30.2px;

}

.map{
	box-sizing: border-box;
display: inline-flex;
margin: 55.5px 0px 0px 63.7px;
vertical-align: text-top;
}


.contactinfo{
display: inline-block;
vertical-align: text-top;
	 box-sizing: border-box;
display: inline-block;
margin: 39px 0px 0px 97.3px;

}

body{


  width: 1366px;

  margin: auto;
}



p {
font-family: 'Roboto', sans-serif;

}